
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: 'Montserrat';
    color: #000000;
    ;background:  #ffffff;
    margin-left: 20px;
  margin-right: 20px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;}
/* Navbar*/  
header {
    background-color: #ffffff;
    padding: 30px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav a {
    text-decoration: none;
    color: #000;
    margin: 0 20px;
    font-weight: bold;
}

.nav-right {
    display: flex;
}

a:hover {
    color: rgba(0, 255, 179, 0.796);
  }

/* FONT*/

h1{font-family: 'Nunito', sans-serif;}


h2{
  font-family: 'Montserrat', sans-serif;
  color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 400;}
h3{
  font-family: 'Montserrat', sans-serif;
  color: rgb(43, 43, 43);
    font-style: normal;
    font-weight: 400;}
h5{
  font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;}
p{
  font-family: 'Montserrat', sans-serif;
   
    font-style: normal;
    font-weight: 100;}




/* HOME / WORKS */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  
  .grid-item {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 10px;}
  
  .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s; /* Add transition for scale up effect */
    border-radius: 10px;}
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(137, 197, 243, 0.738);
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: none; /* Cambia a none */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.3s; /* Add transition for background color change */
  border-radius: 10px;}
  
  .grid-item:hover img {
    transform: scale(1.05); /* Scale up on hover, solo en la imagen */
    border-radius: 10px;}
  
  .grid-item:hover .overlay {
    display: flex;
    background-color: rgba(0, 255, 179, 0.796); /* Change background color on hover */
    border-radius: 10px;}
  
  .overlay span {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s, transform 0.3s; /* Add transition for text animation */
  }
  
  .grid-item:hover .overlay span {
    opacity: 1;
    transform: translateY(0);
  }
  
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .grid-container {
      grid-template-columns: repeat(1, 1fr);
    }
  }


  
  .footer {
    background-color:var(--light-coffee, #ffffff) ;/* color de fondo del footer */
    height: 100px; /* altura del footer */
    width: 100%; /* ancho del footer */
  }

  body {
    margin: 0;
    padding: 0;
}

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #f0f0f0; /* Color de fondo */
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background color */
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff; /* Color del texto */
  z-index: 1; /* Make sure the text is on top of the opacity layer */
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    width: 30%; /* Ancho de las imágenes */
    margin: 10px; /* Margen entre imágenes */
}
/* styles.css */

.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px;
}

.about-image {
  flex-basis: 20%;
  margin: 20px;
}

.about-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-text {
  flex-basis: 40%;
  margin: 20px;
}

.about-text h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.about-text p {
  font-size: 18px;
  margin-bottom: 20px;
}
